

<div class="container">
  <div class="header-card">
    <mat-card-title>GESTIÓN DE USUARIOS</mat-card-title>
    <img src="../../../assets/Roberth-logo.svg" class="icon" alt="icon">
  </div>
  <div class="actions">
    <button mat-button id="crear" (click)="openDialog()">Crear Usuario</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>

        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">Rol</th>
        <th scope="col">Perfil</th>
        <th scope="col">Estado</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">

        <td>{{ usuario.firstName }}</td>
        <td>{{ usuario.lastName }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.rolName }}</td>
        <td>{{ usuario.profileName }}</td>
        
        <td>{{ usuario.activo ===true ?'Activo':'Inactivo'}}</td>
        <td><button mat-fab id="editar" aria-label="Editar usuario" (click)="openDialogeditar(usuario.id)">
            <mat-icon>create</mat-icon>
          </button></td>
        <td><button mat-fab id="borrar" aria-label="Eliminar usuario" (click)="openDialogeliminar(usuario.id)">
            <mat-icon>delete</mat-icon>
          </button></td>
      </tr>
    </tbody>
  </table>
</div>