 
<div class="container">
  <mat-card>
    <mat-card-title class="card__title">
 
    <fieldset>Gestión Tickets <img src="../../../assets/agregar-archivo.png" class="icon-agregar" alt="icon"></fieldset>
    </mat-card-title>
    <br>
    <div class="card__header_actions">
      <mat-card-actions class="mat-pad-none margin-none">
    <button mat-raised-button color="primary" id="crear" (click)="agregarElemento()"  >   <mat-icon>add_circle</mat-icon> Agregar
      Nuevo Ticket</button>
    </mat-card-actions>
  </div>
<table mat-table [dataSource]="tickets" class="mat-elevation-z8">
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let ticket">{{ ticket.titulo }}</td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let ticket">{{ ticket.descripcion }}</td>
    </ng-container>
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let ticket">{{ ticket.estado }}</td>
    </ng-container>
    <ng-container matColumnDef="fecha_Solicitud">
      <th mat-header-cell *matHeaderCellDef>Fecha de Solicitud</th>
      <td mat-cell *matCellDef="let ticket">{{ ticket.fecha_Solicitud }}</td>
    </ng-container>
  
    <ng-container matColumnDef="ver mas">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let ticket">
          <button mat-icon-button id="editar" (click)="editarElemento(ticket.id)">
            <mat-icon>edit</mat-icon>
          </button>
         
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="['titulo', 'descripcion', 'estado', 'fecha_Solicitud', 'ver mas']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['titulo', 'descripcion', 'estado', 'fecha_Solicitud', 'ver mas']"></tr>
  </table>
</mat-card>
</div>