<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
</head>
<body>
    <div class="wrapper">
        <form [formGroup]="loginForm" (submit)="onLogin(loginForm.value)" >
            <h1>Olvide la contraseña </h1>

            <div class="input-box">
                <input type="text" id="id" placeholder="Password" name="id"  formControlName="id">
                <div *ngIf="loginForm.get('id').errors && loginForm.get('id').dirty">

                    <p class="messageError" *ngIf="loginForm.get('id').hasError('required')">Campo requerido</p>
                
            
            
                </div>


            </div>

            <div class="input-box">
                <input type="text" id="correo" placeholder="Correo" name="correo"  formControlName="correo">

                <div *ngIf="loginForm.get('correo').errors && loginForm.get('correo').dirty">

                    <p class="messageError" *ngIf="loginForm.get('correo').hasError('required')">Campo requerido</p>
                    <p class="messageError" *ngIf="loginForm.get('correo').hasError('email')">Correo invalido</p>
            
            
                </div>

            </div>
           
            <div class="remember-forgot">
                <!-- <label>
                    <input type="checkbox">Recuerdame
                </label> -->
                <a href="/login">Acceder?</a>
            </div>
            <button   [disabled]="!loginForm.valid || submitted" type="submit"  class="btn" data-toggle="modal" data-target="#exampleModal"  >Entrar</button>

          

            <div class="register-link">
                <p>No tienes una cuenta?<a  routerLink="/forget"> Registrarse</a></p>
            </div>
        </form>
         <!-- Button trigger modal -->
       
          





      
            



    </div>

  

 
     

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}" >
            <div class="gradient-bar"></div>
            <i class="fas fa-times"></i>
            <div class="text-wrapper">
              <h3>Envio Exitoso</h3>
              <p>Se ha enviado la contraseña a su dirreccion de correo electronico</p>
           
              <button class="button button-yes" (click)="openModal(false)" (click)="Redireccionar()">Ok</button>
            </div>
          </div>


          <div class="modal fade" id="Error" tabindex="-1" aria-labelledby="ErrorModalLabel" [ngStyle]="{'display': ErrorIsOpen ? 'block' : 'none', 'opacity': 1}" >
            <div class="cabecera-modal"></div>
            <i class="fas fa-times"></i>
            <div class="text-wrapper">
              <h3>Datos incorrectos</h3>
              <p>Los datos ingresados no son correctos para permitir el accesos, verifique si la contraseña y correo son correctos</p>
           
              <button class="button button-Ok" (click)="ErrorModal(false)" >Ok</button>
            </div>
          </div>
        


             
            
   
</body>

</html>

