 
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Meu Perfil</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css">
</head>

<body>
  <!-- PERFIL DO USUÁRIO -->
  <section class="user-profile">
    
   
    <div class="user-profile-body">
    

      <div class="user-profile-bio">
        <h3 class="titulo">Datos del usuario</h3>
      </div>
      <div class="user-profile-footer">
        <ul class="data-list">
          <li>Email: {{ datos.userName }}</li>
          <li>Licencia: {{ datos.licenseName }}</li>
          <li>Tiempo: {{ datos.monthOfLicense }}</li>
        </ul>
      </div>
     
    </div>
  </section>
</body>

</html>